<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <title>Gestion de personas</title>
</head>
<body>
    <section class="container">
        <h1 class="text-center">Gestion de Personas</h1>

        <button id="btnRegistrar" class="btn btn-primary my-4">Registrar</button>
        <br>
        <strong>Ultima actualización: </strong><span id="actualizacion"></span>

        <table id="tablaPersonas" class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Genero</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
    



    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="jquery/jquery.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>